.arkynPagination {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.arkynPagination .arkynPaginationIconButton,
.arkynPagination .arkynPaginationPageButton {
  background-color: var(--background-foreground);
  border: none;

  max-height: 28px;
  max-width: 28px;

  min-height: 28px;
  min-width: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--rounded-inputs);
}

.arkynPagination .arkynPaginationIconButton:hover,
.arkynPagination .arkynPaginationPageButton:hover {
  filter: brightness(0.98);
  cursor: pointer;
}

html.dark .arkynPagination .arkynPaginationIconButton:hover,
html.dark .arkynPagination .arkynPaginationPageButton:hover {
  filter: brightness(1.2);
}

.arkynPagination .arkynPaginationIconButton > svg {
  color: var(--text-muted);
  height: 20px;
  width: 20px;
}

.arkynPagination .arkynPaginationPageButton {
  color: var(--text-body);
  font-size: 14px;
  font-weight: 600;
}

.arkynPagination .arkynPaginationIconButton:disabled {
  filter: brightness(1);
  cursor: not-allowed;
  opacity: 0.5;
}

.arkynPagination .arkynPaginationCurrent {
  background-color: rgba(var(--spotlight-primary), 1);
  color: #ffffff;
  border: none;

  max-height: 28px;
  max-width: 28px;

  min-height: 28px;
  min-width: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--rounded-inputs);
}

.arkynPagination .arkynPaginationSpread {
  background-color: transparent;
  color: var(--text-muted);
  border: none;

  max-height: 28px;
  max-width: 28px;

  min-height: 28px;
  min-width: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arkynPagination .arkynPaginationSpread > svg {
  color: var(--text-muted);
  height: 16px;
  width: 16px;
}
