.arkynBreadcrumbLink {
  user-select: none;
  text-decoration: none;
  font-size: 14px;
  color: var(--text-body);
}

.arkynBreadcrumbLink.active {
  color: var(--text-muted);
}

.arkynBreadcrumbLink.inactive:hover {
  cursor: pointer;
  color: var(--text-muted);
}

.arkynBreadcrumbLink:first-child > svg {
  display: none;
}

.arkynBreadcrumbLink:not(:first-child) {
  display: flex;
  align-items: center;
  gap: 4px;
}

.arkynBreadcrumbLink:not(:first-child) > svg {
  display: unset;
  color: var(--text-body);
}
