.arkynAudioUploadContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.arkynAudioUpload {
  border-width: 1px;

  outline: 1px solid transparent;

  border-color: var(--border);
  border-radius: var(--rounded-inputs);

  width: 100%;
  height: 137px;
  max-width: 475px;

  background: rgba(var(--input-background), 1);
}

.arkynAudioUpload.hasAudio {
  border-style: solid;
}

.arkynAudioUpload.noHasAudio {
  border-style: dashed;
}

.arkynAudioUpload.hasError {
  border-color: rgb(var(--spotlight-danger));
  outline-color: rgb(var(--spotlight-danger));
}
