.arkynGoogleMapPinnedEmpty {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px dashed var(--border);
  border-radius: var(--rounded-cards);
  background-color: rgba(var(--input-background), 1);
}

.arkynGoogleMapPinnedEmpty > svg {
  height: 64px;
  width: 64px;
  color: var(--text-muted);
  stroke-width: 1px;
}

.arkynGoogleMapPinned {
  border-radius: var(--rounded-cards);
}
