.arkyn_toast {
  display: flex;
  flex-direction: column;

  padding: 8px 16px;
  min-width: 200px;

  border-radius: 6px;
  border: 1px solid transparent;
}

.arkyn_toast strong {
  font-size: 14px;
  font-weight: 600;
}

.arkyn_toast p {
  font-size: 16px;
  font-weight: 500;
}

/* SCHEME */
.arkyn_toast.success {
  background-color: var(--success-200);
}

.arkyn_toast strong,
.arkyn_toast p {
  color: var(--success-600);
}
