/* BASE */
.arkyn_icon_button {
  background: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  position: relative;
  transition: 0.15s all ease-out;
}

.arkyn_icon_button:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

html.dark .arkyn_icon_button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.arkyn_icon_button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.arkyn_icon_button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* VARIANTS */
.arkyn_icon_button.solid {
  color: #fff;
}

.arkyn_icon_button.solid.primary {
  background-color: rgba(var(--spotlight-primary), 1);
}

.arkyn_icon_button.solid.danger {
  background-color: rgba(var(--spotlight-danger), 1);
}

.arkyn_icon_button.solid.success {
  background-color: rgba(var(--spotlight-success), 1);
}

.arkyn_icon_button.solid.warning {
  background-color: rgba(var(--spotlight-warning), 1);
}

.arkyn_icon_button.solid.info {
  background-color: rgba(var(--spotlight-info), 1);
}

.arkyn_icon_button.outline {
  background-color: rgba(var(--input-background), 1);
  border-color: var(--border);
}

.arkyn_icon_button.outline.primary {
  color: rgba(var(--spotlight-primary), 1);
}

.arkyn_icon_button.outline.danger {
  color: rgba(var(--spotlight-danger), 1);
}

.arkyn_icon_button.outline.success {
  color: rgba(var(--spotlight-success), 1);
}

.arkyn_icon_button.outline.warning {
  color: rgba(var(--spotlight-warning), 1);
}

.arkyn_icon_button.outline.info {
  color: rgba(var(--spotlight-info), 1);
}

.arkyn_icon_button.ghost.primary {
  color: rgba(var(--spotlight-primary), 1);
  background-color: rgba(var(--spotlight-primary), 0.2);
}

.arkyn_icon_button.ghost.danger {
  color: rgba(var(--spotlight-danger), 1);
  background-color: rgba(var(--spotlight-danger), 0.2);
}

.arkyn_icon_button.ghost.success {
  color: rgba(var(--spotlight-success), 1);
  background-color: rgba(var(--spotlight-success), 0.2);
}

.arkyn_icon_button.ghost.warning {
  color: rgba(var(--spotlight-warning), 1);
  background-color: rgba(var(--spotlight-warning), 0.2);
}

.arkyn_icon_button.ghost.info {
  color: rgba(var(--spotlight-info), 1);
  background-color: rgba(var(--spotlight-info), 0.2);
}

.arkyn_icon_button.invisible.primary {
  color: rgba(var(--spotlight-primary), 1);
}

.arkyn_icon_button.invisible.danger {
  color: rgba(var(--spotlight-danger), 1);
}

.arkyn_icon_button.invisible.success {
  color: rgba(var(--spotlight-success), 1);
}

.arkyn_icon_button.invisible.warning {
  color: rgba(var(--spotlight-warning), 1);
}

.arkyn_icon_button.invisible.info {
  color: rgba(var(--spotlight-info), 1);
}

/* SIZE */
.arkyn_icon_button.lg {
  border-radius: var(--rounded-inputs);
  height: 44px;
  width: 44px;
}

.arkyn_icon_button.md {
  border-radius: var(--rounded-inputs);
  height: 40px;
  width: 40px;
}

.arkyn_icon_button.sm {
  border-radius: var(--rounded-inputs);
  height: 32px;
  width: 32px;
}

.arkyn_icon_button.xs {
  border-radius: calc(var(--rounded-inputs) * 0.6667); /* 2/3 */
  height: 24px;
  width: 24px;
}

/* SPIN */
.arkyn_icon_button-spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.arkyn_icon_button-spinner > svg {
  animation: spin 2s linear infinite;
}

.arkyn_icon_button.loading_true .arkyn_icon_button-spinner {
  opacity: 1;
}

.arkyn_icon_button.loading_true .arkyn_icon_button-content {
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
