.arkynTableBody > tr:nth-child(odd) > td {
  background-color: var(--card-foreground-primary);
}

.arkynTableBody > tr > td {
  padding-left: 16px;
  height: 64px;

  font-weight: 400;
  font-size: 14px;

  color: var(--text-body);
}

.arkynTableBody > tr > td:first-child {
  border-top-left-radius: var(--rounded-cards);
  border-bottom-left-radius: var(--rounded-cards);
}

.arkynTableBody > tr > td:last-child {
  border-top-right-radius: var(--rounded-cards);
  border-bottom-right-radius: var(--rounded-cards);

  padding-right: 16px;
}

.arkynTableBody > tr:nth-child(odd):hover > td {
  filter: brightness(0.98);
}

.arkynTableBody > tr:nth-child(even):hover > td {
  background-color: var(--card-foreground-primary);
  filter: brightness(0.98);
}

html.dark .arkynTableBody > tr:nth-child(odd):hover > td {
  filter: brightness(1.2);
}

html.dark .arkynTableBody > tr:nth-child(even):hover > td {
  background-color: var(--card-foreground-primary);
  filter: brightness(1.2);
}
