.arkyn_modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 56px;
  padding: 16px;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

  color: var(--strong-text);

  border-bottom: 1px solid var(--normal-line);
}

.arkyn_modal_header > button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px;
  border-radius: 4px;

  border: none;
  background: none;

  color: var(--normal-text);
  background-color: var(--strong-background);
  transition: all 0.15s ease-out;
}

.arkyn_modal_header > button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
