.arkyn_tab_container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: start;

  gap: 4px;

  border-bottom: 1px solid var(--border);
}

.arkyn_tab_container .active-line {
  position: absolute;
  height: 1px;

  transition: all 0.3s ease-in-out;
  bottom: -1px;

  background-color: rgba(var(--spotlight-primary), 1);
}
