:root {
  /* border rounded */
  --rounded-inputs: 6px;
  --rounded-cards: 8px;

  /* background */
  --background: #f1f5f9;
  --background-foreground: #ffffff;

  /* modal, drawer, popover... */
  --card: #ffffff;
  --card-foreground-primary: #f8fafc;
  --card-foreground-secondary: #f1f5f9;
  --card-foreground-terceary: #e2e8f0;

  /* input, select, textarea, button (outline), icon button (outline) */
  --input-background: 248, 250, 252; /* #f8fafc */

  /* skeleton */
  --skeleton: #f8fafc;
  --skeleton-foreground: #f1f5f9;

  /* text */
  --text-heading: #0f172a;
  --text-body: #475569;
  --text-muted: #94a3b8;

  /* border */
  --border: #e2e8f0;

  /* tooltip */
  --tooltip-text: #f1f5f9;
  --tooltip-background: #0f172a;

  /* spotlight */
  --spotlight-primary: 17, 109, 220; /* #116ddc */
  --spotlight-success: 16, 185, 129; /* #10b981 */
  --spotlight-danger: 244, 63, 94; /* #f43f5e */
  --spotlight-info: 14, 165, 233; /* #0ea5e9 */
  --spotlight-warning: 249, 115, 22; /* #f97316 */

  /* toast */
  --toast-success: 16, 185, 129; /* #10B981 */
  --toast-danger: 225, 29, 72; /* #E11D48 */
  --toast-info: 14, 165, 233; /* #0EA5E9 */
  --toast-warning: 251, 146, 60; /* #FB923C */
}
