.arkynSkeleton {
  width: 100%;
  height: 100%;
  border-radius: 6px;

  background: linear-gradient(
    to right,
    var(--skeleton) 4%,
    var(--skeleton-foreground) 25%,
    var(--skeleton) 36%
  );

  background-size: 40rem 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }
  100% {
    background-position: 40rem 0;
  }
}
