.arkynRichText {
  display: flex;
  flex-direction: column;

  background-color: rgba(var(--input-background), 1);
  border: 1px solid var(--border);
  border-radius: var(--rounded-inputs);
  outline: 1px solid transparent;
}

.arkynRichText.errorTrue {
  outline-color: rgba(var(--spotlight-danger), 1);
  border-color: rgba(var(--spotlight-danger), 1);
}

.arkynRichText.focusTrue {
  outline-color: rgba(var(--spotlight-primary), 1);
  border-color: rgba(var(--spotlight-primary), 1);
}

.arkynRichText .editorContainer {
  padding: 16px;
  outline: none;
  min-height: 300px;
}

.arkynRichText .restatesCharacters {
  display: block;
  margin-left: auto;
  padding: 8px;

  font-size: 16px;
  font-weight: 600;
  color: rgba(var(--spotlight-danger), 1);
}
