/* base css */
.arkynButton {
  background: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  position: relative;
  transition: 0.15s all ease-out;
}

.arkynButton:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

html.dark .arkynButton:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.arkynButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.arkynButton .arkynButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/* variants */
.arkynButton.solid {
  color: #fff;
}
.arkynButton.solid.primary {
  background-color: rgba(var(--spotlight-primary), 1);
}
.arkynButton.solid.danger {
  background-color: rgba(var(--spotlight-danger), 1);
}
.arkynButton.solid.success {
  background-color: rgba(var(--spotlight-success), 1);
}
.arkynButton.solid.warning {
  background-color: rgba(var(--spotlight-warning), 1);
}
.arkynButton.solid.info {
  background-color: rgba(var(--spotlight-info), 1);
}

.arkynButton.outline {
  background-color: rgba(var(--input-background), 1);
  border-color: var(--border);
}
.arkynButton.outline.primary {
  color: rgba(var(--spotlight-primary), 1);
}
.arkynButton.outline.danger {
  color: rgba(var(--spotlight-danger), 1);
}
.arkynButton.outline.success {
  color: rgba(var(--spotlight-success), 1);
}
.arkynButton.outline.warning {
  color: rgba(var(--spotlight-warning), 1);
}
.arkynButton.outline.info {
  color: rgba(var(--spotlight-info), 1);
}

.arkynButton.ghost.primary {
  color: rgba(var(--spotlight-primary), 1);
  background-color: rgba(var(--spotlight-primary), 0.2);
}
.arkynButton.ghost.danger {
  color: rgba(var(--spotlight-danger), 1);
  background-color: rgba(var(--spotlight-danger), 0.2);
}
.arkynButton.ghost.success {
  color: rgba(var(--spotlight-success), 1);
  background-color: rgba(var(--spotlight-success), 0.2);
}
.arkynButton.ghost.warning {
  color: rgba(var(--spotlight-warning), 1);
  background-color: rgba(var(--spotlight-warning), 0.2);
}
.arkynButton.ghost.info {
  color: rgba(var(--spotlight-info), 1);
  background-color: rgba(var(--spotlight-info), 0.2);
}

.arkynButton.invisible.primary {
  color: rgba(var(--spotlight-primary), 1);
}
.arkynButton.invisible.danger {
  color: rgba(var(--spotlight-danger), 1);
}
.arkynButton.invisible.success {
  color: rgba(var(--spotlight-success), 1);
}
.arkynButton.invisible.warning {
  color: rgba(var(--spotlight-warning), 1);
}
.arkynButton.invisible.info {
  color: rgba(var(--spotlight-info), 1);
}

/* sizes */
.arkynButton.lg {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  border-radius: var(--rounded-inputs);
  padding: 0px 20px;
  height: 44px;
}
.arkynButton.lg .arkynButtonContent,
.arkynButton.lg .arkynButtonSpinner {
  gap: 16px;
}

.arkynButton.md {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  border-radius: var(--rounded-inputs);
  gap: 16px;
  padding: 0px 16px;
  height: 40px;
}
.arkynButton.md .arkynButtonContent,
.arkynButton.md .arkynButtonSpinner {
  gap: 14px;
}

.arkynButton.sm {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  border-radius: var(--rounded-inputs);
  padding: 0px 16px;
  height: 32px;
}
.arkynButton.sm .arkynButtonContent,
.arkynButton.sm .arkynButtonSpinner {
  gap: 12px;
}

.arkynButton.xs {
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  border-radius: calc(var(--rounded-inputs) * 0.6667);
  padding: 0px 16px;
  height: 24px;
}
.arkynButton.xs .arkynButtonContent,
.arkynButton.xs .arkynButtonSpinner {
  gap: 8px;
}

/* loader spin */
.arkynButton .arkynButtonSpinner {
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  opacity: 0;
}

.arkynButton .arkynButtonSpinner > svg {
  animation: spin 2s linear infinite;
}

.arkynButton.loadingTextFalse .arkynButtonSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.arkynButton.loadingTextTrue .arkynButtonSpinner {
  max-height: 0px;
}

.arkynButton.loadingTrue .arkynButtonContent {
  opacity: 0;
  max-height: 0px;
}

.arkynButton.loadingTrue .arkynButtonSpinner {
  opacity: 1;
  max-height: unset;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
