/* BASE */
.arkynBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  width: min-content;
  white-space: nowrap;
  border: 1px solid transparent;
}

/* VARIANTS */
.arkynBadge.solid {
  color: #fff;
}

.arkynBadge.solid.primary {
  background-color: rgba(var(--spotlight-primary), 1);
}

.arkynBadge.solid.danger {
  background-color: rgba(var(--spotlight-danger), 1);
}

.arkynBadge.solid.success {
  background-color: rgba(var(--spotlight-success), 1);
}

.arkynBadge.solid.warning {
  background-color: rgba(var(--spotlight-warning), 1);
}

.arkynBadge.solid.info {
  background-color: rgba(var(--spotlight-info), 1);
}

.arkynBadge.outline.primary {
  color: rgba(var(--spotlight-primary), 1);
  border-color: rgba(var(--spotlight-primary), 1);
}

.arkynBadge.outline.danger {
  color: rgba(var(--spotlight-danger), 1);
  border-color: rgba(var(--spotlight-danger), 1);
}

.arkynBadge.outline.success {
  color: rgba(var(--spotlight-success), 1);
  border-color: rgba(var(--spotlight-success), 1);
}

.arkynBadge.outline.warning {
  color: rgba(var(--spotlight-warning), 1);
  border-color: rgba(var(--spotlight-warning), 1);
}

.arkynBadge.outline.info {
  color: rgba(var(--spotlight-info), 1);
  border-color: rgba(var(--spotlight-info), 1);
}

.arkynBadge.ghost.primary {
  color: rgba(var(--spotlight-primary), 1);
  background-color: rgba(var(--spotlight-primary), 0.2);
}

.arkynBadge.ghost.danger {
  color: rgba(var(--spotlight-danger), 1);
  background-color: rgba(var(--spotlight-danger), 0.2);
}

.arkynBadge.ghost.success {
  color: rgba(var(--spotlight-success), 1);
  background-color: rgba(var(--spotlight-success), 0.2);
}

.arkynBadge.ghost.warning {
  color: rgba(var(--spotlight-warning), 1);
  background-color: rgba(var(--spotlight-warning), 0.2);
}

.arkynBadge.ghost.info {
  color: rgba(var(--spotlight-info), 1);
  background-color: rgba(var(--spotlight-info), 0.2);
}

/* SIZE */
.arkynBadge.lg {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  border-radius: calc(var(--rounded-inputs) * 0.6667);
  padding: 0px 16px;
  height: 24px;
}

.arkynBadge.md {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  border-radius: calc(var(--rounded-inputs) * 0.6667);
  padding: 0px 12px;
  height: 20px;
}
