/* BASE */

.arkyn_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 1px solid transparent;
}

/* VARIANTS */
.arkyn_badge.solid {
  color: #fff;
}

.arkyn_badge.solid.primary {
  background-color: var(--primary-500);
}

.arkyn_badge.solid.secondary {
  background-color: var(--secondary-500);
}

.arkyn_badge.solid.danger {
  background-color: var(--danger-600);
}

.arkyn_badge.solid.success {
  background-color: var(--success-500);
}

.arkyn_badge.solid.warning {
  background-color: var(--warning-600);
}

.arkyn_badge.solid.info {
  background-color: var(--info-500);
}

.arkyn_badge.outline.primary {
  color: var(--primary-500);
  border-color: var(--primary-500);
}

.arkyn_badge.outline.secondary {
  color: var(--secondary-500);
  border-color: var(--secondary-500);
}

.arkyn_badge.outline.danger {
  color: var(--danger-600);
  border-color: var(--danger-600);
}

.arkyn_badge.outline.success {
  color: var(--success-500);
  border-color: var(--success-500);
}

.arkyn_badge.outline.warning {
  color: var(--warning-600);
  border-color: var(--warning-600);
}

.arkyn_badge.outline.info {
  color: var(--info-600);
  border-color: var(--info-600);
}

.arkyn_badge.ghost.primary {
  color: var(--primary-500);
  background-color: var(--primary-100);
}

.arkyn_badge.ghost.secondary {
  color: var(--secondary-500);
  background-color: var(--secondary-100);
}

.arkyn_badge.ghost.danger {
  color: var(--danger-600);
  background-color: var(--danger-100);
}

.arkyn_badge.ghost.success {
  color: var(--success-500);
  background-color: var(--success-100);
}

.arkyn_badge.ghost.warning {
  color: var(--warning-600);
  background-color: var(--warning-100);
}

.arkyn_badge.ghost.info {
  color: var(--info-600);
  background-color: var(--info-100);
}

/* SIZE */

.arkyn_badge.lg {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  border-radius: 4px;
  padding: 0px 16px;
  height: 24px;
}

.arkyn_badge.md {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  border-radius: 4px;
  padding: 0px 12px;
  height: 20px;
}
