.arkynRichTextToolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  border-radius: var(--rounded-inputs) var(--rounded-inputs) 0 0;

  padding: 12px 16px;
  column-gap: 24px;
  row-gap: 12px;

  background-color: var(--card-foreground-secondary);
  border-bottom: 1px solid var(--border);
}
