.arkyn_table_header th {
  text-align: left;
  background-color: var(--card-foreground-secondary);
  padding-left: 16px;
  height: 44px;

  color: var(--text-heading);
  font-weight: 600;
  font-size: 14px;

  white-space: nowrap;
}

.arkyn_table_header th:first-child {
  border-top-left-radius: var(--rounded-cards);
  border-bottom-left-radius: var(--rounded-cards);
}

.arkyn_table_header th:last-child {
  border-top-right-radius: var(--rounded-cards);
  border-bottom-right-radius: var(--rounded-cards);

  padding-right: 16px;
}

.arkyn_table_header .spacing-row {
  height: 12px;
}
