.arkynCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--border);
  background-color: rgba(var(--input-background), 1);
}

.arkynCheckbox:hover {
  cursor: pointer;
}

.arkynCheckbox > svg {
  display: none;
  stroke-width: 3px;
}

/* SIZE */
.arkynCheckbox.sm {
  height: 16px;
  width: 16px;
  border-radius: calc(var(--rounded-inputs) * 0.3333);
}

.arkynCheckbox.sm > svg {
  min-height: 12px;
  min-width: 12px;
}

.arkynCheckbox.md {
  height: 20px;
  width: 20px;
  border-radius: calc(var(--rounded-inputs) * 0.6667);
}

.arkynCheckbox.md > svg {
  min-height: 14px;
  min-width: 14px;
}

.arkynCheckbox.lg {
  height: 24px;
  width: 24px;
  border-radius: var(--rounded-inputs);
}

.arkynCheckbox.lg > svg {
  min-height: 14px;
  min-width: 14px;
}

/* CHECKED */
.arkynCheckbox.checkedTrue {
  background-color: rgb(var(--spotlight-primary), 1);
  border-color: rgb(var(--spotlight-primary), 1);
}

.arkynCheckbox.checkedTrue > svg {
  display: unset;
  color: #fff;
}

.arkynCheckbox.errorTrue {
  border-color: rgb(var(--spotlight-danger), 1);
}
