.arkyn_tooltip {
  position: relative;
  display: block;
}

.arkyn_tooltip-text {
  visibility: hidden;

  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  transition: 0.15s all ease-out;

  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  color: var(--tooltip-text);
  background-color: var(--tooltip-background);

  z-index: 9999;
}

.arkyn_tooltip.lg .arkyn_tooltip-text {
  font-size: 14px;
  line-height: 14px;
  padding: 8px 12px;
}

.arkyn_tooltip.md .arkyn_tooltip-text {
  font-size: 12px;
  line-height: 12px;
  padding: 8px 12px;
}

.arkyn_tooltip:hover .arkyn_tooltip-text {
  opacity: 1;
  visibility: visible;
}

.arkyn_tooltip.top .arkyn_tooltip-text {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.arkyn_tooltip.top .arkyn_tooltip-text::before {
  content: "";
  top: 100%;
  border-style: solid;
  border-color: var(--tooltip-background) transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.arkyn_tooltip.left .arkyn_tooltip-text {
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
}

.arkyn_tooltip.left .arkyn_tooltip-text::before {
  content: "";
  top: 50%;
  border-style: solid;
  border-color: transparent var(--tooltip-background);
  border-width: 6px 0 6px 6px;
  left: 100%;
  position: absolute;
  transform: translateY(-50%);
}

.arkyn_tooltip.right .arkyn_tooltip-text {
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
}

.arkyn_tooltip.right .arkyn_tooltip-text::before {
  content: "";
  border-style: solid;
  border-color: transparent var(--tooltip-background);
  border-width: 6px 6px 6px 0;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  position: absolute;
}

.arkyn_tooltip.bottom .arkyn_tooltip-text {
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.arkyn_tooltip.bottom .arkyn_tooltip-text::before {
  content: "";
  border-style: solid;
  border-color: var(--tooltip-background) transparent;
  border-width: 0 6px 6px 6px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  position: absolute;
}
