.arkynPopover {
  position: relative;
}

.arkynPopover .arkynPopoverContent {
  display: none;
}

.arkynPopover.visibleTrue .arkynPopoverContent {
  display: unset;
}

.arkynPopoverContent {
  position: absolute;
  z-index: 3;

  background-color: var(--card);
  border-radius: var(--rounded-cards);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.arkynPopover.bottomLeft .arkynPopoverContent {
  bottom: -5px;
  right: 0;
  transform: translateY(100%);
}

.arkynPopover.bottomRight .arkynPopoverContent {
  bottom: -5px;
  left: 0;
  transform: translateY(100%);
}

.arkynPopover.topLeft .arkynPopoverContent {
  top: -5px;
  right: 0;
  transform: translateY(-100%);
}

.arkynPopover.topRight .arkynPopoverContent {
  top: -5px;
  left: 0;
  transform: translateY(-100%);
}

.arkynPopover.bottom .arkynPopoverContent {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.arkynPopover.top .arkynPopoverContent {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.arkynPopover.left .arkynPopoverContent {
  bottom: 50%;
  right: calc(100% + 5px);
  transform: translateY(50%);
}

.arkynPopover.right .arkynPopoverContent {
  bottom: 50%;
  left: calc(100% + 5px);
  transform: translateY(50%);
}

.arkynPopoverOverlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
