.arkynTableContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: max-content;

  overflow-y: hidden;
  overflow-x: auto;
}

.arkynTableContainer table {
  border-collapse: separate;
  border-spacing: 0;
}
