.arkyn_button {
  position: relative;

  border: 1px solid transparent;
  outline: 1px solid transparent;

  transition: 0.2s all;
}

.arkyn_button_content {
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
}

.arkyn_button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.arkyn_button:disabled {
  cursor: not-allowed;
  filter: brightness(1);
  opacity: 0.5;
}
