@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arkyn_button_spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.arkyn_button_spinner svg {
  animation: spin 2s linear infinite;
}

.arkyn_button_loading_true .arkyn_button_content {
  opacity: 0;
}
.arkyn_button_loading_true .arkyn_button_spinner {
  opacity: 1;
}
