.arkyn_button_lg {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  border-radius: 6px;
  padding: 0px 20px;
  height: 44px;
}
.arkyn_button_content_lg {
  gap: 16px;
}

.arkyn_button_md {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  border-radius: 6px;
  gap: 16px;
  padding: 0px 16px;
  height: 40px;
}
.arkyn_button_content_md {
  gap: 16px;
}

.arkyn_button_sm {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;

  border-radius: 6px;
  padding: 0px 16px;
  height: 32px;
}
.arkyn_button_content_sm {
  gap: 12px;
}

.arkyn_button_xs {
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;

  border-radius: 4px;
  padding: 0px 16px;
  height: 24px;
}
.arkyn_button_content_xs {
  gap: 8px;
}
