/* BASE */
.arkyn_button {
  background: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  position: relative;
  transition: 0.15s all ease-out;
}

.arkyn_button:hover {
  cursor: pointer;
}

.arkyn_button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.arkyn_button .content {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/* VARIANTS */
.arkyn_button.solid {
  color: #fff;
}

.arkyn_button.solid:disabled {
  opacity: 0.4;
}

.arkyn_button.solid.primary {
  background-color: var(--primary-500);
}

.arkyn_button.solid.primary:hover {
  background-color: var(--primary-400);
}

.arkyn_button.solid.primary:disabled {
  background-color: var(--primary-400);
}

.arkyn_button.solid.danger {
  background-color: var(--danger-600);
}

.arkyn_button.solid.danger:hover {
  background-color: var(--danger-500);
}

.arkyn_button.solid.danger:disabled {
  background-color: var(--danger-500);
}

.arkyn_button.solid.success {
  background-color: var(--success-500);
}

.arkyn_button.solid.success:hover {
  background-color: var(--success-400);
}

.arkyn_button.solid.success:disabled {
  background-color: var(--success-400);
}

.arkyn_button.solid.warning {
  background-color: var(--warning-600);
}

.arkyn_button.solid.warning:hover {
  background-color: var(--warning-500);
}

.arkyn_button.solid.warning:disabled {
  background-color: var(--warning-500);
}

.arkyn_button.outline {
  border-color: var(--secondary-300);
}

.arkyn_button.outline:hover {
  border-color: var(--secondary-200);
}

.arkyn_button.outline:disabled {
  border-color: var(--secondary-200);
}

.arkyn_button.outline.primary {
  color: var(--primary-500);
}

.arkyn_button.outline.primary:hover {
  color: var(--primary-400);
}

.arkyn_button.outline.primary:disabled {
  color: var(--primary-400);
}

.arkyn_button.outline.danger {
  color: var(--danger-600);
}

.arkyn_button.outline.danger:hover {
  color: var(--danger-500);
}

.arkyn_button.outline.danger:disabled {
  color: var(--danger-500);
}

.arkyn_button.outline.success {
  color: var(--success-500);
}

.arkyn_button.outline.success:hover {
  color: var(--success-400);
}

.arkyn_button.outline.success:disabled {
  color: var(--success-400);
}

.arkyn_button.outline.warning {
  color: var(--warning-600);
}

.arkyn_button.outline.warning:hover {
  color: var(--warning-500);
}

.arkyn_button.outline.warning:disabled {
  color: var(--warning-500);
}

.arkyn_button.ghost:disabled {
  opacity: 0.4;
}

.arkyn_button.ghost.primary {
  color: var(--primary-500);
  background-color: var(--primary-100);
}

.arkyn_button.ghost.primary:hover {
  color: var(--primary-400);
  background-color: var(--primary-50);
}

.arkyn_button.ghost.primary:disabled {
  color: var(--primary-400);
  background-color: var(--primary-50);
}

.arkyn_button.ghost.danger {
  color: var(--danger-600);
  background-color: var(--danger-100);
}

.arkyn_button.ghost.danger:hover {
  color: var(--danger-500);
  background-color: var(--danger-50);
}

.arkyn_button.ghost.danger:disabled {
  color: var(--danger-500);
  background-color: var(--danger-50);
}

.arkyn_button.ghost.success {
  color: var(--success-500);
  background-color: var(--success-100);
}

.arkyn_button.ghost.success:hover {
  color: var(--success-400);
  background-color: var(--success-50);
}

.arkyn_button.ghost.success:disabled {
  color: var(--success-400);
  background-color: var(--success-50);
}

.arkyn_button.ghost.warning {
  color: var(--warning-600);
  background-color: var(--warning-100);
}

.arkyn_button.ghost.warning:hover {
  color: var(--warning-500);
  background-color: var(--warning-50);
}

.arkyn_button.ghost.warning:disabled {
  color: var(--warning-500);
  background-color: var(--warning-50);
}

.arkyn_button.invisible:disabled {
  opacity: 0.4;
}

.arkyn_button.invisible.primary {
  color: var(--primary-500);
}

.arkyn_button.invisible.primary:hover {
  color: var(--primary-400);
}

.arkyn_button.invisible.primary:disabled {
  color: var(--primary-400);
}

.arkyn_button.invisible.danger {
  color: var(--danger-600);
}

.arkyn_button.invisible.danger:hover {
  color: var(--danger-500);
}

.arkyn_button.invisible.danger:disabled {
  color: var(--danger-500);
}

.arkyn_button.invisible.success {
  color: var(--success-500);
}

.arkyn_button.invisible.success:hover {
  color: var(--success-400);
}

.arkyn_button.invisible.success:disabled {
  color: var(--success-400);
}

.arkyn_button.invisible.warning {
  color: var(--warning-600);
}

.arkyn_button.invisible.warning:hover {
  color: var(--warning-500);
}

.arkyn_button.invisible.warning:disabled {
  color: var(--warning-500);
}

/* SIZE */
.arkyn_button.lg {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  border-radius: 6px;
  padding: 0px 20px;
  height: 44px;
}

.arkyn_button .content.lg {
  gap: 16px;
}

.arkyn_button.md {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  border-radius: 6px;
  gap: 16px;
  padding: 0px 16px;
  height: 40px;
}

.arkyn_button .content.md {
  gap: 16px;
}

.arkyn_button.sm {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;

  border-radius: 6px;
  padding: 0px 16px;
  height: 32px;
}

.arkyn_button .content.sm {
  gap: 12px;
}

.arkyn_button.xs {
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;

  border-radius: 4px;
  padding: 0px 16px;
  height: 24px;
}

.arkyn_button .content.xs {
  gap: 8px;
}

/* SPIN */
.arkyn_button .spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.arkyn_button .spinner > svg {
  animation: spin 2s linear infinite;
}

.arkyn_button.loading_true .content {
  opacity: 0;
}

.arkyn_button.loading_true .spinner {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
