.arkynSliderTrack {
  width: 100%;
  max-width: 400px;

  height: 6px;
  border: 1px solid var(--border);
  background: rgba(var(--input-background), 1);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.arkynSliderTrack.isDragging {
  cursor: grabbing;
}

.arkynSliderFill {
  height: 100%;
  background: rgb(var(--spotlight-primary));
  border-radius: 5px;
}

.arkynSliderThumb {
  width: 12px;
  cursor: grab;
  height: 12px;
  background: rgb(var(--spotlight-primary));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.arkynSliderValue {
  margin-top: 10px;
  font-size: 18px;
}
