.arkynModalFooter {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-top: 1px solid var(--border);
}

.arkynModalFooter.left {
  justify-content: flex-start;
}

.arkynModalFooter.right {
  justify-content: flex-end;
}

.arkynModalFooter.center {
  justify-content: center;
}

.arkynModalFooter.between {
  justify-content: space-between;
}

.arkynModalFooter.around {
  justify-content: space-around;
}
