:root {
  --primary-500: #10b981;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
textarea,
button {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.sub-main {
  padding: 16px 0;
}
